@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body { 
    background: linear-gradient(to bottom, #4C70FF, #27B8FF);
    margin: 0;
    display: flex;
    flex-direction: column; /* Mantém a estrutura empilhada */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center; /* Centraliza a logo e textos */
}

.logotipo {
    width: 300px;
}

.titulo {
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.subtitulo {
    margin-top: -20px;
    margin-bottom: 30px;
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 200;
}

.faixa {
    display: flex;
    justify-content: center; /* Centraliza os blocos */
    gap: 20px;
    margin-top: 20px;
}

.bloco {
    background-color: white;
    width: 180px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-left: 20px;
    color: #000000;
    font-family: "Poppins", sans-serif;
}

.botao-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4C70FF;
    height: 60px;
    width: 150px;
    border-radius: 15px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size: 16px;
    cursor: hover;
}

.botao:hover {
    background-color: #3754c8; /* Cor de fundo ao passar o mouse */
    transform: scale(1);
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.container1 {

    color: #ffffff;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

.olaa {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
}